<%= render "layouts/header" %>

<!--<p id="notice"><%= notice %></p>-->

<div class="d-flex flex-row justify-content-between mt-5 mx-5">
  <h1>Notes</h1>

  <div class="mb-5 d-flex">

    <%= form_tag(notes_path, method: :get, class: 'form-inline') do %>
      <div class="row g-1 align-items-center">
        <div class="col-auto">
          <%= label_tag(:notes_per_page, "Notes per Page:", class: 'me-2 small text-muted') %>
        </div>
        <div class="col-auto">
          <%= select_tag(:notes_per_page, options_for_select([
            "4", "8", "16", "20", "24", "32", "64"
          ], params[:notes_per_page]), class: 'form-select', onchange: 'this.form.submit();') %>
        </div>
      </div>
      <%= hidden_field_tag :filter, params[:filter] %>
      <%= hidden_field_tag :sort_by, params[:sort_by] %>
      <%= hidden_field_tag :filter_university, params[:filter_university] %>
    <% end %>

    <%= form_tag(notes_path, method: :get, class: 'form-inline ms-5') do %>
      <div class="row g-1 align-items-center">
        <div class="col-auto">
          <%= label_tag(:sort_by, "Order by:", class: 'me-2 small text-muted') %>
        </div>
        <div class="col-auto">
          <%= select_tag(:sort_by, options_for_select([
            ['Title: A - Z', 'title_asc'],
            ['Title: Z - A', 'title_desc'],
            ['Least recent', 'created_at_asc'],
            ['Most recent', 'created_at_desc']
          ], params[:sort_by]), class: 'form-select', onchange: 'this.form.submit();') %>
        </div>
      </div>
      <%= hidden_field_tag :filter, params[:filter] %>
      <%= hidden_field_tag :notes_per_page, params[:notes_per_page] %>
      <%= hidden_field_tag :filter_university, params[:filter_university] %>
    <% end %>

    <%= form_tag(notes_path, method: :get, class: 'form-inline ms-5') do %>
      <%= hidden_field_tag :filter, params[:filter] %>
      <%= hidden_field_tag :notes_per_page, params[:notes_per_page] %>
      <%= hidden_field_tag :sort_by, params[:sort_by] %>
      <%= hidden_field_tag :filter_university, params[:filter_university] == "true" ? "false" : "true" %>
      <%= submit_tag params[:filter_university] == "true" ? "All Notes" : "Relevant", class:"btn border border-tertiary" %>
    <% end %>
  </div>
</div>



<div class="mx-5">
  <%= render "layouts/notes/cards_view", redirect_to: "home" %>
</div>

<%= render "layouts/footer" %>
