<%= render "layouts/header" %>

<!--<p id="notice"><%= notice %></p>-->

<div class="d-flex justify-content-between mt-5 ms-5">
  <h1>Notes</h1>
  <div>
    <!-- filtri -->
  </div>
</div>

<!--<%= render "layouts/notes/table_view" %>-->

<div class="mx-5">
  <%= render "layouts/notes/cards_view" %>
</div>

<%= render "layouts/footer" %>