<%= render "layouts/header" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
  <strong>Owner:</strong>
  <%= link_to @note.user.username, user_path(@note.user) %>
</p>

<% if @note.pdf.present? %>
  <div class="pdf-container ratio ratio-21x9">
    <% @note.pdf.each do |pdf| %>
      <iframe src="<%= pdf.url %>" >
        <a href="<%= pdf.url %>">Scarica il PDF</a>.
      </iframe>
    <% end %>
  </div>
<% end %>

<p>
  <strong>Course:</strong>
  <%= @note.course.name %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
