<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Pdf:</strong>
  <%= @note.pdf %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @note.owner_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @note.course_id %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
