<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :university_details_id %>
    <%= form.text_field :university_details_id %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role %>
  </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.text_field :created_at %>
  </div>

  <div class="field">
    <%= form.label :updated_at %>
    <%= form.text_field :updated_at %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :encrypted_password %>
    <%= form.text_field :encrypted_password %>
  </div>

  <div class="field">
    <%= form.label :reset_password_sent_at %>
    <%= form.text_field :reset_password_sent_at %>
  </div>

  <div class="field">
    <%= form.label :remember_created_at%>
    <%= form.text_field :remember_created_at%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
