<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :university_details_id %>
    <%= form.text_field :university_details_id %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
  <%= form.label :avatar %>
  <%= form.file_field :avatar %>
  </div>

  <div>
    <%#<% note.pdf.each do |pdf| %>
    <%#  <%= hidden_field :note, :pdf, multiple: true, value: pdf.identifier %>
    <%#<% end %>
    <%= form.file_field :pdf, multiple: true %>  
  </div>
    

  <div class="field">
    <p><%= form.label :password, "Inserire la password per confermare le modifiche" %></p>
    <p><%= form.password_field :password, autocomplete: "current-password" %></p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
