<%= render "layouts/header" %>

<!--<p id="notice"><%= notice %></p>-->

<h1 class="ms-5 mt-5 text-dark"><i class="text-info">@<%= @user.username %></i> - Personal Page</h1>
<div class="mx-5 p-5 rounded border shadow bg-body">

  <!--<p>
    current_user:
    <%= current_user.id %>
    data:
    <%= session.each do |key|%>
      <%= key %>
    <% end %>
  <p>
  -->
  
  <div class="d-flex w-100 row">
    <div class="col pe-0">
      <div class="form-group">
        <label class="form-label">University details:</label>
        <p class="form-control"> <%= @user.university_details_id.nil? ? "NIL" : University.find_by(id: @user.university_details_id).name %> </p>
      </div>
<% if current_user == @user || current_user.has_role?(:admin) %>
      <div class="form-group">
        <label class="form-label">Role:</label>
        <p class="form-control">  <% if @user.role == 'admin' %>
            <% idrole = "2" %>
            <%= Role.find_by(id: idrole).name %>
            <% elsif @user.role == 'user' %>
            <% idrole="1" %>
            <%= Role.find_by(id: idrole).name %>
          <% else %>
            <%= Role.find_by(id: @user.role).name %>
          <% end %> </p>
      </div>
<% end %>
    </div>

    <% if @user.avatar? %>
      <div class="col-lg-1 p-2 m-0 text-center">
      <label class="form-label"> Avatar: </label>
        <div class="ratio ratio-1x1 rounded-circle overflow-hidden w-100">
          <%= image_tag @user.avatar.thumb.url, class:"w-100"%>
        </div>
      </div>
    <% end %>
  </div>

  <div class="d-flex flex-fill">
    <div class="form-group w-50 me-2">
      <label class="form-label">Email:</label>
      <p class="form-control"> <%= @user.email.nil? ? "NIL" : @user.email %> </p>
    </div>

    <!--
    <% if current_user && current_user == @user %>
      <div class="form-group w-50 ms-2">
        <label class="form-label">Encrypted password:</label>
        <p class="form-control"> <%= @user.encrypted_password.nil? ? "NIL" : @user.encrypted_password %> </p>
      </div>
    <% end %>
    -->

    <div class="form-group w-50 me-2">
      <label class="form-label">Trusted:</label>
      <p class="form-control"> <%= @user.trusted ? "Trusted!" : "Not trusted" %> </p>
    </div>
  </div>

  <!--
  <% if current_user && current_user == @user %>
    <div class="d-flex flex-fill">
      <div class="form-group w-50 me-2">
        <label class="form-label">Created at:</label>
        <p class="form-control"> <%= @user.created_at.nil? ? "NIL" : @user.created_at %> </p>
      </div>

      <div class="form-group w-50 ms-2">
        <label class="form-label">Update at:</label>
        <p class="form-control"> <%= @user.updated_at.nil? ? "NIL" : @user.updated_at %> </p>
      </div>
    </div>
  <% end %>-->

  <!--
  <% if current_user && current_user == @user %>
    <div class="d-flex flex-fill">
      <div class="form-group w-50 me-2">
        <label class="form-label">Reset password sent at:</label>
        <p class="form-control"> <%= @user.reset_password_sent_at.nil? ? "NIL" : @user.reset_password_sent_at %> </p>
      </div>

      <div class="form-group w-50 ms-2">
        <label class="form-label">Remeber created at:</label>
        <p class="form-control"> <%= @user.remember_created_at.nil? ? "NIL" : @user.remember_created_at %> </p>
      </div>
    </div>
  <% end %> -->


  <label class="form-label">Accounts:</label>
  <div class="d-flex flex-column">
    <% @user.account.attributes.slice("github", "google_oauth2").each do |key, value| %>
    <div>
      <% name = key.to_s == "google_oauth2" ? "Google" : key.to_s %>
      <strong><%= name.capitalize %>:</strong>
      <%= value%>
      <% if @user == current_user %>
        <% if value == 'false' %>
          <%= link_to 'Connect', user_omniauth_authorize_path(current_user.id, key.to_sym) %>
        <% else %>
          <%= link_to 'Disconnect', user_omniauth_unauthorize_path(current_user.id, key.to_sym) %>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>


  <div class="d-flex justify-content-between mt-3">
    <div class="d-flex">
      <% if current_user != @user %>
        <a type="button" class="btn btn-outline-primary m-1" data-bs-toggle="modal" data-bs-target="#staticUserReport">
          Report User
        </a>
        <%= render "layouts/reports/report_user_form", user_report: UserReport.new, user: @user %>
      <%end%>
      <% if current_user == @user || current_user.has_role?(:admin) %>
        <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-outline-primary m-1 me-3" %>
      <%end%>
      <%= link_to 'Back', notes_path, class:"btn btn-outline-primary m-1" %>
    </div>
    <% if can? :destroy, @user %>
      <%= button_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
    <% end %>
  </div>

  <% if can? :ban, @user %>
    <hr /> 
    <div class="d-flex justify-content-between mb-3 mt-3">
      
        <%= form_with url: ban_user_path(@user), method: :put, class:"w-100", local: true do |form| %>
          <div class="form-group mb-2">
            <%= form.label :reason, 'Ban Reason:', class:"form-label" %>
            <%= form.text_area :reason, class:"form-control fixed_textarea", autocomplete:"off", :rows => 3, placeholder: "Write the ban reason...", required: true %>
            
          </div>
          <div class="form-group d-flex align-items-center">
            <%= form.label :expiration, 'Ban Expiration:', class:"form-label m-0" %>
            <div class="d-flex align-middle flex-fill">
              <%= form.datetime_select :expiration, { ampm: false, order: [:day, :month, :year] }, required: true, class: "form-control form-select-sm d-flex w-100 mx-1" %>
            </div>
          </div>
          <div class="form-group d-flex justify-content-end my-3">
            <%= form.submit 'Ban', data: { confirm: 'Are you sure?' }, form_class:"m-0 p-0", class: "btn btn-danger me-0 px-4" %>
          </div>
        <% end %>
    </div>
    <script>
        function validateBanForm() {
          var reason = document.querySelector('#ban-form textarea[name="reason"]').value.trim();
          if (reason === '') {
            alert('Please provide a ban reason before submitting.');
            return false;
          }
          return true;
        }
    </script>
  <% end %>

</div>

<% if @user.notes.count > 0 %>
  <h1 class="mx-5 mt-5 text-dark"><i class="text-info">@<%= @user.username %></i>'s - Personal Notes</h1>

  <div class="mx-5 mb-5 p-5 rounded border shadow bg-body">
    <div class="d-flex mb-5">
      <%= form_tag(user_path(@user), method: :get, class: 'form-inline') do %>
        <div class="row g-1 align-items-center">
          <div class="col-auto">
            <%= label_tag(:sort_by, "Order by:", class: 'me-2 small text-muted') %>
          </div>
          <div class="col-auto">
            <%= select_tag(:sort_by, options_for_select([
              ['Title: A - Z', 'title_asc'],
              ['Title: Z - A', 'title_desc'],
              ['Least recent', 'created_at_asc'],
              ['Most recent', 'created_at_desc']
            ], params[:sort_by]), class: 'form-select', onchange: 'this.form.submit();') %>
          </div>
        </div>
        <%= hidden_field_tag :filter, params[:filter] %>
        <%= hidden_field_tag :notes_per_page, params[:notes_per_page] %>
      <% end %>

      <%= form_tag(user_path(@user), method: :get, class: 'ms-4 form-inline') do %>
        <div class="row g-1 align-items-center">
          <div class="col-auto">
            <%= label_tag(:notes_per_page, "Notes per Page:", class: 'me-2 small text-muted') %>
          </div>
          <div class="col-auto">
            <%= select_tag(:notes_per_page, options_for_select([
              "4", "8", "16", "20", "24", "32", "64"
            ], params[:notes_per_page]), class: 'form-select', onchange: 'this.form.submit();') %>
          </div>
        </div>
        <%= hidden_field_tag :filter, params[:filter] %>
        <%# hidden_field_tag :filter_university, params[:filter_university] == "true" ? "false" : "true" %>
      <% end %>
    </div>

    <% if @notes.any? %>
      <%= render "layouts/notes/cards_view", redirect_to: "user" %>
    <% else %>
      <p>No notes available.</p>
    <% end %>
  </div>
<% end %>

<%= render "layouts/footer" %>