<%= render "layouts/header" %>

<!--<p id="notice"><%= notice %></p>-->

<h1 class="ms-5 mt-5 text-dark"><i class="text-info">@<%= @user.username %></i> - Personal Page</h1>
<div class="mx-5 p-5 rounded border shadow bg-body">

  <!--<p>
    current_user:
    <%= current_user.id %>
    data:
    <%= session.each do |key|%>
      <%= key %>
    <% end %>
  <p>
  -->
  
  <div class="d-flex w-100 row">
    <div class="col">
      <div class="form-group">
        <label class="form-label">University details:</label>
        <p class="form-control"> <%= @user.university_details_id.nil? ? "NIL" : @user.university_details_id %> </p>
      </div>

      <div class="form-group">
        <label class="form-label">Role:</label>
        <p class="form-control"> <%= @user.role.nil? ? "NIL" : @user.role %> </p>
      </div>
    </div>

    <% if @user.avatar? %>
      <div class="col-lg-1 p-2 m-0 text-center">
      <label class="form-label"> Avatar: </label>
        <div class="ratio ratio-1x1 rounded-circle overflow-hidden w-100">
              <%= image_tag @user.avatar.thumb.url, class:"w-100"%>
        </div>
      </div>
    <% end %>
  </div>

  <div class="d-flex flex-fill">
    <div class="form-group w-50 me-2">
      <label class="form-label">Email:</label>
      <p class="form-control"> <%= @user.email.nil? ? "NIL" : @user.email %> </p>
    </div>

    <% if current_user && current_user == @user %>
      <div class="form-group w-50 ms-2">
        <label class="form-label">Encrypted password:</label>
        <p class="form-control"> <%= @user.encrypted_password.nil? ? "NIL" : @user.encrypted_password %> </p>
      </div>
    <% end %>
  </div>

  <% if current_user && current_user == @user %>
    <div class="d-flex flex-fill">
      <div class="form-group w-50 me-2">
        <label class="form-label">Created at:</label>
        <p class="form-control"> <%= @user.created_at.nil? ? "NIL" : @user.created_at %> </p>
      </div>

      <div class="form-group w-50 ms-2">
        <label class="form-label">Update at:</label>
        <p class="form-control"> <%= @user.updated_at.nil? ? "NIL" : @user.updated_at %> </p>
      </div>
    </div>
  <% end %>

  <% if current_user && current_user == @user %>
    <div class="d-flex flex-fill">
      <div class="form-group w-50 me-2">
        <label class="form-label">Reset password sent at:</label>
        <p class="form-control"> <%= @user.reset_password_sent_at.nil? ? "NIL" : @user.reset_password_sent_at %> </p>
      </div>

      <div class="form-group w-50 ms-2">
        <label class="form-label">Remeber created at:</label>
        <p class="form-control"> <%= @user.remember_created_at.nil? ? "NIL" : @user.remember_created_at %> </p>
      </div>
    </div>
  <% end %> 

  <label class="form-label">Accounts:</label>
  <div class="d-flex flex-column">
    <% @user.account.attributes.slice("github", "google_oauth2").each do |key, value| %>
    <div>
      <strong><%= key.to_s.capitalize %>:</strong>
      <%= value %>
      <% if @user == current_user %>
        <% if value == 'false' %>
          <%= link_to 'Connect', user_omniauth_authorize_path(current_user.id, key.to_sym) %>
        <% else %>
          <%= link_to 'Disconnect', user_omniauth_unauthorize_path(current_user.id, key.to_sym) %>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-between mt-3">
    <div class="d-flex">
      <% if current_user != @user %>
        <a type="button" class="btn btn-outline-primary m-1" data-bs-toggle="modal" data-bs-target="#staticUserReport">
          Report User
        </a>
        <%= render "layouts/reports/report_user_form", user_report: UserReport.new, user: @user %>
      <%end%>
      <% if current_user == @user %>
        <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary m-1 me-3" %>
      <%end%>
      <%= link_to 'Back', users_path, class:"btn btn-warning m-1" %>
    </div>
    <% if can? :destroy, @user %>
      <%= button_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
    <% end %>
  </div>
</div>

<% if @user.notes.count > 0 %>
  <h1 class="mx-5 mt-5 text-dark"><i class="text-info">@<%= @user.username %></i>'s - Personal Notes</h1>
  <div class="mx-5 mb-5 p-5 rounded border shadow bg-body">
    <%= render "layouts/notes/cards_view" %>
  </div>
<% end %>

<%= render "layouts/footer" %>