<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<!--<p>
  current_user:
  <%= current_user.id %>
  data:
  <%= session.each do |key|%>
    <%= key %>
  <% end %>
<p>
-->

<p>
  <strong>University details:</strong>
  <%= @user.university_details_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
    <strong>Accounts:</strong>
    <% @user.account.attributes.slice("github", "google_oauth2").each do |key, value| %>
      <p>
        - <strong><%= key.to_s.capitalize %>:</strong>
        <%= value %>
        <% if @user == current_user && value == 'false' %>
          <%= link_to 'Connect', user_omniauth_authorize_path(current_user.id, key.to_sym) %>
        <% end %>
      </p>
    <% end %>

<p>
  <strong>Created at:</strong>
  <%= @user.created_at %>
</p>

<p>
  <strong>Update at:</strong>
  <%= @user.updated_at %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Encrypted password:</strong>
  <%= @user.encrypted_password %>
</p>

<p>
  <strong>Reset password sent at:</strong>
  <%= @user.reset_password_sent_at %>
</p>

<p>
  <strong>Remeber created at:</strong>
  <%= @user.remember_created_at%>
</p>

<p>
<% if @user.avatar? %>
  <strong>Avatar:</strong>
  <%= image_tag @user.avatar.thumb.url %>
<% end %>
</p>

  <%# CODICE NON FUNZIONANTE <p>%>
  <%#<% @user.pdf.each do |pdf| %>
  <%#  <%= link_to "Download PDF", @user.pdf.url %>
  <%#<% end %>
  <%#</p>%>

  <p>
  <% @user.pdf.each do |pdf| %>
    <%= link_to "Download PDF", pdf.url %><br>
  <% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<% if can? :destroy, @user %>
  <%= button_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>