<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-info rounded" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Admin
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li class="nav-item">
            <a aria-current="page"><%= link_to 'Registered Users', users_path, class:"nav-link active text-info text-dark" %></a>
        </li>
        <li class="nav-item">
            <a aria-current="page"><%= link_to 'Tickets&Issues', tickets_path, class:"nav-link active text-info text-dark" %></a>
        </li>

        <li><hr class="dropdown-divider"></li>
        
        <li class="nav-item">
            <a aria-current="page"><%= link_to 'Suspended notes', suspended_notes_path, class:"nav-link active text-info text-dark" %></a>
        </li>

        <li class="nav-item">
            <a aria-current="page"><%= link_to 'Banned Users', banned_users_path, class:"nav-link active text-info text-dark" %></a>
        </li>

        <li><hr class="dropdown-divider"></li>

        <li class="nav-item">
            <a aria-current="page"><%= link_to 'Reported notes', note_reports_path, class:"nav-link active text-info text-dark" %></a>
        </li>
        <li class="nav-item">
            <a aria-current="page"><%= link_to 'Reported users', user_reports_path, class:"nav-link active text-info text-dark" %></a>
        </li>
        <li class="nav-item">
            <a aria-current="page"><%= link_to 'Reported review', review_reports_path, class:"nav-link active text-info text-dark" %></a>
        </li>
    </ul>
</li>