<div class="container d-flex align-items-center justify-content-center text-center login-bg">
  <div class="row w-50 p-5">

    <h1 class="cedarville-cursive-regular mb-5">ShareYourNotes</h1>

    <h2 class="mb-3 text-primary">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>

  </div>
</div>
