<div class="row row-cols-1 row-cols-md-4 g-4">
  <% @notes.each do |note| %>
    <% if note.pdf.present? %>
      <div class="col">
        <div class="card">

        <div class="card-header d-flex flex-column" style="background-color: #e9ecef;">
          <div class="overflow-hidden m-2">
            <% if note.suspended? %>

              <!-- Note Sospese -->
              <% if note.title.length > 30 %> 
                <marquee class="d-flex fade_edges border-start border-end ">
                  <h5 class="card-title m-0"><%= link_to ("Suspended: " + note.title), note_path(note), class:"p-1 rounded text-warning bg-danger text-decoration-none text-nowrap"%></h5>
                </marquee>
              <% else %>
                <h5 class="card-title m-0"><%= link_to ("Suspended: " + note.title), note_path(note), class:"p-1 rounded text-warning bg-danger text-decoration-none text-nowrap"%></h5>
              <%end%>
              <!-- Note sospese fine -->

            <% elsif note.visibility? %>

              <!-- Note normali -->
              <% if note.title.length > 30 %> 
                <marquee class="d-flex fade_edges border-start border-end ">
                  <h5 class="card-title m-0"><%= link_to note.title, note_path(note), class:"text-primary text-decoration-none text-nowrap"%></h5>
                </marquee>
              <% else %>
                <h5 class="card-title m-0"><%= link_to note.title, note_path(note), class:"text-primary text-decoration-none text-nowrap"%></h5>
              <%end%>
              <!-- Note normali fine -->

            <% else %>

              <!-- Note nascoste -->
              <% if note.title.length > 30 %> 
                <marquee class="d-flex fade_edges border-start border-end ">
                  <h5 class="card-title m-0"><%= link_to ("Hidden: " + note.title), note_path(note), class:"p-1 rounded text-info bg-dark text-decoration-none text-nowrap" %></h5>
                </marquee>
              <% else %>
                <h5 class="card-title m-0"><%= link_to ("Hidden: " + note.title), note_path(note), class:"p-1 rounded text-info bg-dark text-decoration-none text-nowrap" %></h5>
              <%end%>
              <!-- Note nascoste fine -->

            <% end %>
          </div>

          <div>
            <small class="card-title m-0 mx-2 my-2"><%= link_to "@#{note.user.username}", user_path(note.user), class:"text-info text-decoration-none" %> </small>
          </div>
        </div>

          <div class="card-body d-flex justify-content-between-0">
            <!-- Card body start -->
            <div class="d-flex w-100 flex-column flex-fill justify-content-between w-auto p-2">
              <!-- Notes info -->
              <div>
                <!-- Notes cathegory -->
                <small class="card-title text-dark"><%= note.course.name %></small>
              </div>

              <div>
                <!-- Notes tags -->
                <small class="text-muted">
                  <% note.tags.all.each do |tag| %>
                      <%= "#" + tag.name%>
                  <% end %>
                </small>
              </div>
            </div>

            <div class="col-md-4 border border-3 shadow bg-body rounded">
              <div class="thumb overflow-hidden">
                <% @thumb = note.pdf[0].url(:thumbnail) %>
                <%= link_to note do %>
                  <img src="<%= @thumb %>" class="card-img object-fit-fill">
                <%end%>
              </div>
            </div>
            
            <!-- Card body end -->
          </div>

          <div class="card-footer"  style="background-color: #e9ecef;">
            <!-- Notes buttons -->
            <div class="d-flex">
              <%# link_to 'Show', note, class:"btn btn-outline-primary mt-1 mb-1 mr-1 w-25 btn-sm" %>
              <%= link_to note do %>
                <span class="btn btn-outline-dark border-0 rounded-circle m-1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-richtext" viewBox="0 0 16 16">
                    <path d="M7.5 3.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0m-.861 1.542 1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047L11 4.75V7a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 7v-.5s1.54-1.274 1.639-1.208M5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"/>
                    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
                  </svg>
                </span>
              <%end%>

              <% if current_user && current_user == note.user %>
                <%# link_to 'Edit', edit_note_path(note), class:"btn btn-outline-primary m-1 w-25 btn-sm" %>
                <%= link_to edit_note_path(note) do %>
                  <span class="btn btn-outline-dark border-0 rounded-circle m-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                  </span>
                <% end %>
                <% if current_user == @user && !current_user.has_role?(:admin) %>
                  <%# button_to 'Destroy', note_path(note), method: :delete, data: { confirm: 'Are you sure?'}, form_class: 'border-0 w-25 m-1', class: "btn btn-outline-danger btn-sm w-100" %>
                  <%= button_to note_path(note), method: :delete do %>
                    <span class="btn btn-outline-dark border-0 rounded-circle m-1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-x" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708"/>
                        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
                      </svg>
                    </span>
                  <%end%>
                <% end %>
              <%end%>

              <% if current_user && current_user.has_role?(:admin) %>
                <%# button_to 'Destroy', note_path(note), method: :delete, data: { confirm: 'Are you sure?'}, form_class: 'border-0 w-25 m-1', class: "btn btn-outline-danger btn-sm w-100" %>
                <%= button_to note_path(note), class: 'm-0 p-0 border-0 bg-transparent', method: :delete do %>
                  <span class="btn btn-outline-dark border-0 rounded-circle m-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-x" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708"/>
                      <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                      <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
                    </svg>
                  </span>
                <%end%>

                <div class="flex-fill"></div>

                <%# link_to 'Admin', admin_edit_note_path(note), class:"btn btn-outline-warning mt-1 mb-1 mr-1 w-25 btn-sm" %>
                <%= link_to admin_edit_note_path(note) do %>
                  <span class="btn btn-outline-dark border-0 rounded-circle m-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-exclamation" viewBox="0 0 16 16">
                      <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                      <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 0 1 0V11a.5.5 0 0 0-.5-.5m0 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                    </svg>
                  </span>
                <%end%>
              <% end %>

              <% if current_user %>
                <%# link_to 'Admin', admin_edit_note_path(note), class:"btn btn-outline-warning mt-1 mb-1 mr-1 w-25 btn-sm" %>
                <%= link_to notes_path do %>
                  <span class="btn btn-outline-dark border-0 rounded-circle m-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star" viewBox="0 0 16 16">
                      <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.18.18 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.18.18 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.18.18 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.18.18 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.18.18 0 0 0 .134-.098z"/>
                      <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                    </svg>
                  </span>
                <%end%>
              <% end %>

            </div>
          </div>

        </div>
      </div>
    <%end%>
  <%end%>  
</div>