<div class="row row-cols-1 row-cols-md-4 g-4">
  <% if @notes %>
    <% @notes.each do |note| %>
      <% if note.pdf.present? %>
        <div class="col">
          <div class="card border-dark shadow">

          <div class="card-header d-flex flex-column" style="background-color: #e9ecef;">
            <div class="overflow-hidden m-2">
              <% if note.suspended? %>

                <!-- Note Sospese -->
                <% if note.title.length > 30 %> 
                  <marquee class="d-flex fade_edges border-start border-end ">
                    <h5 class="card-title m-0"><%= link_to ("Suspended: " + note.title), note_path(note), class:"p-1 rounded text-warning bg-danger text-decoration-none text-nowrap"%></h5>
                  </marquee>
                <% else %>
                  <h5 class="card-title m-0"><%= link_to ("Suspended: " + note.title), note_path(note), class:"p-1 rounded text-warning bg-danger text-decoration-none text-nowrap"%></h5>
                <%end%>
                <!-- Note sospese fine -->

              <% elsif note.visibility? %>

                <!-- Note normali -->
                <% if note.title.length > 30 %> 
                  <marquee class="d-flex fade_edges border-start border-end ">
                    <h5 class="card-title m-0 fw-bold font-monospace"><%= link_to note.title, note_path(note), class:"text-dark text-decoration-none text-nowrap"%></h5>
                  </marquee>
                <% else %>
                  <h5 class="card-title m-0 fw-bold font-monospace"><%= link_to note.title, note_path(note), class:"text-dark text-decoration-none text-nowrap"%></h5>
                <%end%>
                <!-- Note normali fine -->

              <% else %>

                <!-- Note nascoste -->
                <% if note.title.length > 30 %> 
                  <marquee class="d-flex fade_edges border-start border-end ">
                    <h5 class="card-title m-0"><%= link_to ("Hidden: " + note.title), note_path(note), class:"p-1 rounded text-info bg-dark text-decoration-none text-nowrap" %></h5>
                  </marquee>
                <% else %>
                  <h5 class="card-title m-0"><%= link_to ("Hidden: " + note.title), note_path(note), class:"p-1 rounded text-info bg-dark text-decoration-none text-nowrap" %></h5>
                <%end%>
                <!-- Note nascoste fine -->

              <% end %>
            </div>

            <div>
              <small class="card-title m-0 mx-2 my-2"><%= link_to "#{note.user.username}", user_path(note.user), class:"text-secondary text-decoration-none" %> </small>
            </div>
          </div>

            <div class="card-body d-flex justify-content-between-0">
              <!-- Card body start -->
              <div class="d-flex w-100 flex-column flex-fill justify-content-between w-auto p-2">
                <!-- Notes info -->
                <div>
                  <!-- Notes cathegory -->
                  <small class="card-title text-dark"><%= note.course.name %></small>
                </div>

                <div>
                  <!-- Notes tags -->
                  <small>
                    <% note.tags.all.each do |tag| %>
                        <%= link_to ("#" + tag.name), notes_path(:filter => ("#" + tag.name)), class:"text-decoration-none text-muted"%>
                    <% end %>
                  </small>
                </div>
              </div>

              <div class="col-md-4 border border-3 shadow bg-body rounded overflow-hidden" style="width: 7vw; height: 9.25vw;">
                <div class="thumb">
                  <% @thumb = note.pdf[0].url(:thumbnail) %>
                  <%= link_to note do %>
                    <img src="<%= @thumb %>" class="card-img ">
                  <%end%>
                </div>
              </div>
              
              <!-- Card body end -->
            </div>

            <div class="card-footer"  style="background-color: #e9ecef;">
              <%= render "layouts/notes/note_actions", note: note %>
            </div>
          </div>
        </div>
      <%end%>
    <%end%>  
  <%end%>
</div>