<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @notes.each do |note| %>
    <% if note.pdf.present? %>
      <div class="col">
        <div class="card">

        <div class="card-header d-flex">
          <div class="w-100 overflow-hidden ms-2 notes_title my-2">
            <% if note.suspended? %>
              <h5 class="card-title m-0"><%= link_to ("Suspended: " + note.title), note_path(note), class:"p-1 rounded text-warning bg-danger text-decoration-none"%></h5>
            <% elsif note.visibility? %> 
              <h5 class="card-title m-0"><%= link_to note.title, note_path(note), class:"text-primary text-decoration-none text-nowrap"%></h5>
            <% else %>
              <h5 class="card-title m-0"><%= link_to note.title, note_path(note), class:"p-1 rounded text-info bg-dark text-decoration-none" %></h5>
            <% end %>
          </div>

          <div>
            <p class="card-title m-0 mx-2 my-2"><%= link_to "@#{note.user.username}", user_path(note.user), class:"text-info" %> </p>
          </div>
        </div>

          <div class="card-body d-flex justify-content-between-0">
            <!-- Card body start -->
            <div class="notes_title">
              <% @thumb = note.pdf[0].url(:thumbnail) %>
              <% if @thumb %>
                <img src="<%= @thumb %>" class="border border-3 shadow bg-body rounded card-img">
              <% else %>
                <%= image_tag asset_path("missing_thumbnail.png") %>
              <% end %>
            </div>

            <div class="d-flex flex-fill flex-column justify-content-between w-auto p-2">
              <!-- Notes info -->
              <div>
                <!-- Notes cathegory and author -->
                <p class="card-title text-dark"><%= note.course.name %></p>
              </div>

              <div>
                <!-- Notes tags -->
                <small class="text-muted">
                  <% note.tags.all.each do |tag| %>
                      <%= "#" + tag.name%>
                  <% end %>
                </small>
              </div>
            </div>
            <!-- Card body end -->
          </div>

          <div class="card-footer">
            <!-- Notes buttons -->
            <div class="d-flex">
              <%= link_to 'Show', note, class:"btn btn-outline-primary mt-1 mb-1 mr-1 w-25 btn-sm" %>
              <% if current_user && current_user == note.user %>
                <%= link_to 'Edit', edit_note_path(note), class:"btn btn-outline-primary m-1 w-25 btn-sm" %>
                <% if current_user == @user && !current_user.has_role?(:admin) %>
                  <%= button_to 'Destroy', note_path(note), method: :delete, data: { confirm: 'Are you sure?'}, form_class: 'border-0 w-25 m-1', class: "btn btn-outline-danger btn-sm w-100" %>
                <% end %>
              <%end%>

              <% if current_user && current_user.has_role?(:admin) %>
                <%= link_to 'Admin', admin_edit_note_path(note), class:"btn btn-outline-warning mt-1 mb-1 mr-1 w-25 btn-sm" %>
                <%= button_to 'Destroy', note_path(note), method: :delete, data: { confirm: 'Are you sure?'}, form_class: 'border-0 w-25 m-1', class: "btn btn-outline-danger btn-sm w-100" %>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    <%end%>
  <%end%>  
</div>