<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @notes.each do |note| %>
    <% if note.pdf.present? %>
      <div class="col">
        <div class="card">            
          <div class="card-body d-flex justify-content-between bg-teal" style="background-color: #E0F2F1;">
            <div class="d-flex flex-fill flex-column justify-content-between w-auto p-2">
              <!-- Notes info -->
              <div>
                <% if note.suspended? %>
                  <h5 class="card-title"><%= link_to ("Suspended: " + note.title).truncate(30), note_path(note), class:"p-1 rounded text-warning bg-danger text-decoration-none"%></h5>
                <% elsif note.visibility? %> 
                  <h5 class="card-title"><%= link_to note.title.truncate(30), note_path(note), class:"text-primary text-decoration-none"%></h5>
                <% else %>
                  <h5 class="card-title"><%= link_to note.title.truncate(30), note_path(note), class:"p-1 rounded text-info bg-dark text-decoration-none" %></h5>
                <% end %>
                <p class="card-title text-secondary"><%= note.course.name.truncate(40) %></p>
                <p class="card-title text-secondary"><%= link_to "@#{note.user.username}", user_path(note.user), class:"text-secondary" %> </p>
              </div>
              
              <!-- Notes buttons -->
              <div class="d-flex">
                <%= link_to 'Show', note, class:"btn btn-outline-primary mt-1 mb-1 mr-1 w-50 btn-sm" %>
                <% if current_user && current_user == note.user %>
                  <%= link_to 'Edit', edit_note_path(note), class:"btn btn-outline-primary m-1 w-50 btn-sm" %>
                  <% if !current_user.has_role?(:admin) %>
                    <%= button_to 'Destroy', note_path(note), method: :delete, data: { confirm: 'Are you sure?'}, form_class: 'border-0 w-50 m-1', class: "btn btn-danger btn-sm w-100" %>
                  <% end %>
                <%end%>
              </div>

              <!-- Notes admin buttons -->
              <% if current_user && current_user.has_role?(:admin) %>
                <div class="d-flex justify-content-inline w-100">
                  <%= link_to 'Admin', admin_edit_note_path(note), class:"btn btn-warning mt-1 mb-1 mr-1 w-50 btn-sm" %>
                  <%= button_to 'Destroy', note_path(note), method: :delete, data: { confirm: 'Are you sure?'}, form_class: 'border-0 w-50 m-1', class: "btn btn-danger btn-sm w-100" %>
                </div>
              <% end %>
            </div>

            <div>
              <% @thumb = note.pdf[0].url(:thumbnail) %>
              <% if @thumb %>
                <img src="<%= @thumb %>" class="border border-3 shadow bg-body rounded card-img">
              <% else %>
                <%= image_tag asset_path("missing_thumbnail.png") %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  <%end%>  
</div>