
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Owner</th>
        <th>Course</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% if @notes %>
      <% @notes.each do |note| %>
        <tr>
        <% if note.pdf.present? %>
          <% note.pdf.each do |pdf| %>
            <td> <%= link_to note.title, pdf.url %></td>
            <td>  <%= link_to note.user.username, user_path(note.user) %></td>
            <td><%= note.course.name %></td>
            <td><%= link_to 'Show', note %></td>
            <td><%= link_to 'Edit', edit_note_path(note) %></td>
            <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
          </tr>   
      <% end %>
      <%end%>
    </tbody>

  </table>