<%= render "layouts/header" %>

<% sample_text = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id facilisis eros, quis convallis nulla. Donec metus nulla, congue eget augue et, efficitur consequat mauris. Vivamus sit amet semper velit. Vestibulum eu suscipit purus. Aenean purus justo, pellentesque nec augue vel, lacinia commodo libero. Donec tempor lectus pharetra metus pharetra, sit amet posuere purus ultrices. Vivamus diam lacus, molestie nec urna id, auctor eleifend odio. Nullam dapibus leo a nisl semper mollis. Suspendisse mollis porta consequat. Donec lorem ligula, eleifend eu erat ut, interdum pretium lorem. Duis faucibus bibendum mi vitae volutpat. Vivamus vehicula eget leo eget condimentum. Fusce commodo neque dui, quis elementum nisi fermentum sit amet. Quisque gravida faucibus aliquam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam accumsan, mi et blandit fermentum, erat erat ultricies ipsum, eget mollis odio nisl vel est." %>

<div class="row row-cols-1 row-cols-md-5 g-5 m-5">
  <div class="col">
    <div class="card">
      <div class="ratio ratio-1x1 d-flex">
        <img style="height:auto;" src="https://avatars.githubusercontent.com/u/51923375?v=4" width="260" height="260" class="flex-fill">
      </div>
      <div class="card-body">
        <h5 class="card-title">doltishpunk</h5>
        <p class="card-text"><%= sample_text %></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="ratio ratio-1x1 d-flex">
        <img style="height:auto;" src="https://avatars.githubusercontent.com/u/163561672?v=4" width="260" height="260" class="flex-fill">
      </div>
      <div class="card-body">
        <h5 class="card-title">ElBlurk</h5>
        <p class="card-text"><%= sample_text %></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="ratio ratio-1x1 d-flex">
        <img style="height:auto;" src="https://avatars.githubusercontent.com/u/154224684?v=4" width="260" height="260" class="flex-fill">
      </div>
      <div class="card-body">
        <h5 class="card-title">Hepe02</h5>
        <p class="card-text"><%= sample_text %></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="ratio ratio-1x1 d-flex">
        <img style="height:auto;" src="https://avatars.githubusercontent.com/u/66387301?v=4" width="260" height="260" class="flex-fill">
      </div>
      <div class="card-body">
        <h5 class="card-title">Lxlp</h5>
        <p class="card-text"><%= sample_text %></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="ratio ratio-1x1 d-flex">
        <img style="height:auto;" src="https://avatars.githubusercontent.com/u/69471711?v=4" width="260" height="260" class="flex-fill">
      </div>
      <div class="card-body">
        <h5 class="card-title">volpeffervescente</h5>
        <p class="card-text"><%= sample_text %></p>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>