<%= render "layouts/header" %>

<div class="mx-5">

    <div class="row d-flex align-items-center  g-5 py-5">
        <div class="col-md-8">
        <h1 class="display-5 fw-bold lh-1 mb-3">Benvenuti su <i class="cedarville-cursive-regular">ShareYourNotes</i></h1>
        <h4 class="my-4"><i class="cedarville-cursive-regular">ShareYourNotes</i> è il sito ideale per condividere e recensire appunti universitari. Trova gli appunti di cui hai bisogno, lascia una recensione e aiuta altri studenti a trovare i migliori contenuti!</h4>
        <%= link_to "Esplora le Note", notes_path, class: "btn btn-outline-primary btn-lg px-4 me-md-2" %>
        </div>
        <div class="col-md-4 text-right">
        <img src="<%= asset_path 'home.jpg' %>" alt="Note" class="img-fluid">
        </div>
    </div>

    <h3 class="text-center display-6 fw-bold"> Ultime note caricate </h3>
    <% latest_notes = Note.all.order(created_at: :desc).limit(4).select { |note| note.pdf.present? } %>
    <% if latest_notes.any? %>
        <% @notes = latest_notes %>
        <%= render "layouts/notes/cards_view" %>
    <% end %>
</div>

<%= render "layouts/footer" %>
