<%= form_with(model: user_report) do |form| %>
  <% if user_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_report.errors.count, "error") %> prohibited this user_report from being saved:</h2>

      <ul>
        <% user_report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <!-- Modal -->
    <div class="modal fade" id="staticUserReport" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">File a <i>report</i> for this user</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <!-- Report form begin -->
            <div class="mb-3 field">
                <%= form.label :subject, class:"form-label" %>
                <%= form.text_field :subject, class:"form-control", autocomplete:"off"  %>
            </div>

            <div class="mb-3 field">
                <%= form.label :report, class:"form-label" %>
                <%= form.text_area :report, class:"form-control fixed_textarea", autocomplete:"off", :rows => 10 %>
            </div>

        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
                <%= form.hidden_field :user_id, :value => user.id %>
                <%= form.submit "Submit", class:"btn btn-danger"%>
            </div>
        </div>

        <!-- Report form end -->
    </div>
    </div>

<% end %>