<%= form_with(model: [@note, @review], url: note_reviews_path(@note)) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <!-- Review form begin -->
    <%= form.label :rating, class:"form-label" %>
      <div class="mb-3 field rating">
          <%= form.collection_radio_buttons(:rating, [[5, {:checked => review.rating == 5}],[4, {:checked => review.rating == 4}],[3, {:checked => review.rating == 3}],[2, {:checked => review.rating == 2}],[1, {:checked => review.rating <= 1}]], :first, :last) do |star| %>
              <%= star.radio_button %>
              <%= star.label(class: "text-white") %>
          <% end %>
      </div>

      <div class="mb-3 field">
          <%= form.label :title, class:"form-label" %>
          <%= form.text_field :title, class:"form-control", autocomplete:"off"  %>
      </div>

      <div class="mb-3 field">
          <%= form.label :text, class:"form-label" %>
          <%= form.text_area :text, class:"form-control fixed_textarea", autocomplete:"off", :rows => 6 %>
      </div>

  </div>
      <div class="modal-footer">
          <%= link_to note_path(@note.id) do %>
            <button type="button" class="btn btn-primary m-1" data-bs-dismiss="modal">Back</button>
          <%end%>

          <%= form.hidden_field :note_id, :value => @note.id %>
          <%= form.hidden_field :review_id, :value => review.id %>
          <%= form.submit "Submit", class:"btn btn-danger m-1"%>
      </div>
  </div>

  <!-- Review form end -->
<% end %>
