<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.title %></td>
        <td><%= review.rating %></td>
        <td><%= review.text %></td>
        <td><%= review.note_id %></td>
        <td><%= link_to 'Edit', edit_note_review_path(review.note_id, review) %></td>
        <td><%= button_to 'Destroy', note_review_path(review.note_id, review), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


