<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse w-50" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%= render :partial => "layouts/header/headerAuthActions" if !user_signed_in? %>
        <% if !current_user %>
          <li class="nav-item">
            <a aria-current="page"><%= link_to "Home", unauthenticated_root_path, class:"nav-link active"%></a>
          </li>
        <% else %>
          <li class="nav-item">
            <a aria-current="page"><%= link_to "Home", notes_path, class:"nav-link active"%></a>
          </li>
        <% end %>
        <% if user_signed_in?%>
        <li class="nav-item">
          <a aria-current="page"><%= link_to "Upload", new_note_path, class:"nav-link active"%></a>
        </li>
        <li class="nav-item">
          <a aria-current="page"><%= link_to "Favorites", favorites_path(:user_id => current_user.id), class:"nav-link active"%></a>
        </li>
        <li class="nav-item">
          <a aria-current="page"><%= link_to "Profile", current_user, class:"nav-link active"%></a>
        </li>
        <li class="nav-item">
          <button class="nav-link active" data-bs-toggle="modal" data-bs-target="#staticTicket"> Ticket </button>
        </li>
        <% end %> 

        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle rounded" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Infos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item">
              <a aria-current="page"><%= link_to "FAQs", faq_path, class:"nav-link active text-info text-dark"%></a>
            </li>
            <li class="nav-item">
              <a aria-current="page"><%= link_to "About Us", about_path, class:"nav-link active text-info text-dark"%></a>
            </li>
          </ul>
        </li>

        <% if user_signed_in?%>
          <% if current_user.has_role?(:admin)%>
            <%= render "layouts/header/headerAdminActions" %>
          <% end %>
        <% end %> 

        <li class="nav-item">
          <% if user_signed_in?%><%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"nav-link active text-danger" %><%end%>
        </li>
      </ul>
    </div>
      <a class="navbar-brand mx-auto text-warning p-0 justify-content-center cedarville-cursive-regular">ShareYourNotes</a>
    <div class="collapse navbar-collapse justify-content-end w-50" id="navbarSupportedContent">

      <% if !user_signed_in?%>
        <sup class="text-danger delicious-handrawn-regular h6" style="flex: 1 0 auto;">Guest Edition!</sup>
      <% else %>
        <% if current_user.has_role?(:admin)%>
          <sup class="text-info delicious-handrawn-regular h6" style="flex: 1 0 auto;">SuperUser Edition!</sup>
        <% end %>
      <% end %> 
      
      <form class="d-flex w-50" method="get" action="<%= notes_path %>">
      <%= text_field_tag :filter, params[:filter], placeholder: "Search by title or #tag...", class: "form-control me-2" %>
      <%= submit_tag "Search", class: "btn btn-outline-success" %>
    </form>
      </form>
    </div>
  </div>
</nav>

<%= render "layouts/header/ticket_form", ticket: Ticket.new %>