<!-- app/views/users/registrations/complete_registration.html.erb -->
<div class="container-fluid">
<h2>Completa la Registrazione</h2>

<%= form_for @user, url: finish_registration_path, method: :patch do |f| %>
  <%= render "users/shared/error_messages", resource: @user %>

    <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, value: @user.email, class: "form-control", readonly: true %>
  </div>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
  </div>

    <div class="mb-3 form-group d-flex">
    <div class="col container-fluid">
      <div class="row" style="align-content: start">
      <%= f.label :university_id, "Selezionare una università", class:"form-label" %><br>
      </div>
      <div class="row">
      <% if @user.university_details_id %>
        <% university_name = @universities.find(@user.university_details).name %>
        <input type="text" class="form-control" placeholder="Università" list="list-university" id="input-datalist" value="<%= university_name %>">
      <% else %>
        <input type="text" class="form-control" placeholder="Università" list="list-university" id="input-datalist">
      <% end %>
      <datalist id="list-university">
        <% University.all.each do |university| %>
          <option value="<%= university.name %>" data-id="<%= university.id %>"></option>
        <% end %>
      </datalist>
      <%= f.hidden_field :university_details_id, id: 'university_details' %>
    </div>
    </div>
  </div>
  </div>

  <div class="form-group">
    <%= f.submit "Completa Registrazione", class: "btn btn-primary" %>
  </div>

<% end %>
</div>
<script>
let init=false;

function initialize(){
  if(init == false)
  {
    init = true;
    
    const inputDatalist = document.getElementById('input-datalist');
    const universityIdField = document.getElementById('university_details');
    

    inputDatalist.addEventListener('input', function() {
      const options = document.querySelectorAll('#list-university option');
      options.forEach(option => {
        if (option.value === inputDatalist.value) {
          universityIdField.value = option.getAttribute('data-id');
          
        }
      });
    });
  }
}


if(document.getElementById('input-datalist') && document.getElementById('university_details'))
{
  initialize();
}
</script>
